<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div layout:fragment="content" class="text-center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>
    <img th:src="@{/images/employee.png}">
</div>
</body>
</html>

